@import 'sections/index/index.scss';
@import 'sections/jobs/index.scss';
@import 'sections/shortform/index.scss';

// utlitly functions
.show{
    display: block !important;
    margin: 0 auto;
}
.show-tabs{
    display: flex !important;
}