@import 'sections/nav.scss';
@import 'sections/homepage.scss';
@import 'sections/banner.scss';
@import 'sections/summary.scss';
@import 'sections/video.scss';
@import 'sections/jobs-benefits.scss';

// utlitly functions
.show{
    display: block !important;
    margin: 0 auto;
}
.show-tabs{
    display: flex !important;
}