#banner{     
    max-height: 300px;
    padding: 20px 0px;
    background-color: black;
    overflow: hidden;
   img{
    padding-top: 10px;
   }
}

// // Extra small devices (portrait phones, less than 345px)
// // SMALL CELL PHONE
// @media (max-width: 345px) {
//     #banner{     
//         height: 300px;       
//        img{
//            height: 200px;
//         //    width:100%;
//            margin-top: 50px;
//        }
//     }
// }
