#nav-container {
    position: relative;

    // TOP HALF OF NAVIGATION
    #nav-top {
        background-color: #373737;
        min-height: 75px;

        ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            transform: translateY(70%);

            li {
                display: inline;
                color: #fff;

                .fa-phone {
                    color: green;
                }

                a {
                    color: gray;
                    font-size: 1.2em;
                }
            }

            #seach-trigger {
                color: #fff !important;
            }
        }

        #general-search {
            padding: 20px !important;
            display: none;
            text-align: center;
        }
    }

    // BOTTOM HALF OF NAVIGATION

    #nav-bottom {
        background-color: #5C5C5C;
        min-height: 75px;
        padding-top: 15px;

        img {
            height: 30px !important;
        }

        a {
            color: #fff;
            border-color: gray;
            display: block;
            float: right;
            padding: 5px 9px;
            border: solid 1px gray;
            border-radius: 10px;
        }

        // Driver Tab Drop Down
        #driver-tabs {
            position: absolute;
            background-color: gray;
            list-style: none;
            right: 12%;
            bottom: -50%;
            padding: 15px;
            display: none;
            z-index: 100;
            border-radius: 10px;

            li {
                padding: 5px;

                a {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}


// Extra small devices (portrait phones, less than 345px)
@media (max-width: 345px) {
    #nav-container {
        position: relative;
        // TOP HALF OF NAVIGATION
        #nav-top {
            ul {

                li {

                    a {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

    // // Small devices (landscape phones, 576px and up)
    // @media (min-width: 576px) and (max-width: 767.98px) { ... }

    // // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) and (max-width: 991.98px) { ... }

    // // Large devices (desktops, 992px and up)
    // @media (min-width: 992px) and (max-width: 1199.98px) { ... }

    // // Extra large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) { ... }