<footer class="container-fluid p-4" id="conversion-logo">
  <div class="row">
    <div class="col">
      <a class="d-block text-center" href="/"><img class="" src="/images/conversion-logo.png" alt="" height="50"></a>
    </div>
  </div>
</footer>