  <!-- MAIN -Features -->
  <div class="p-5">
    <div class="container feature-section">
      <div class="row">
        <div class="col-md-12">
          {# <h3 class="display-4 text-center text-secondary">Needs to be a header</h3> #}
          {# <p class="mb-4 text-center lead">Need to be a subheader</p> #}
          <div class="row">
            <div class="p-3 col-md-7">
            {# HEADER #}
                {% if entry.summaryHeadline %}                
                    <h3 class="display-4 text-secondary">{{entry.summaryHeadline}}</h3>
                {% else %}
                    <h3 class="display-4 text-secondary">{{global.summaryHeadline}}</h3>
                {% endif %}
                {# CONTENT #}
              {% if entry.summaryContent %}
                <p class="mb-3">{{entry.summaryContent}}</p>
                {% else %}
                <p class="mb-3">{{global.summaryContent}}</p>
              {% endif %}
              
              </p> <a class="btn btn-success btn-lg mb-3" href="/forms"><i class="fas fa-handshake"></i>Apply Now!</a>
            </div>
            <div class="col-md-4 offset-md-1"> <img class="img-fluid d-block" src="/images/stock-1.jpeg"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>