{# PLEAS READ THE _header.twig TEMPLATE TO SEE WHY THE HEAD IS BEING CLOSED HERE #}

 </head>
  {# utility-site-container is a utility class located in utility SCSS folder #}
  <div class="utility-site-container">
  <body class="container-fluid p-0 utility-site-content bg-light" onload="ReadCookie()">   


{# NAV BEGINS BELOW #}

<nav class="navbar navbar-expand-md navbar-dark sticky-top" id="main-nav">
  <div class="container"> <a class="navbar-brand" href="/">
      {# <i class="fa d-inline fa-lg fa-stop-circle"></i> #}
      <img src="/images/conversion-logo.png" alt="">
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbar10">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar10">
      <ul class="navbar-nav ml-auto">
        {% set pages = craft.entries.section('navigation').all() %}
        {% nav page in pages %}
        <li class="list-inline-item"><a href="/{{page.slug}}">
            {% if page.icons is not empty %}
            <i class="jumbo__icon {{page.icons.value}}"></i>                
            {% endif %}
            {{page.title}}                             
            </a></li>
        {% endnav %}
        <li>{% include "search/index" %}</li>
      </ul>
    </div>
  </div>
</nav>