{# {% include "search/index" %} #}
<div class="container-fluid p-0" id="nav-container">
  {# Top half of nav #}
  <div class="container-fluid" id="nav-top">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <ul>
          <li><i class="fas fa-phone"></i> &nbsp; <strong>Call for</strong></li>
          <li><a href="#" id="search-trigger"><i class="fas fa-search"></i>&nbsp; <strong>Search</strong></a></li>
          <li><i class="fas fa-circle"></i><a href="#"> &nbsp;Apply Now</a></li>
        </ul>
        <form class="form-inline" id="general-search"  action ="{{url('search/results')}}"> 
          <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  {# Bottom half of nav #}
  <div class="container-fluid" id="nav-bottom">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <img src="/images/conversion-logo.png" alt="">
        <a href="#" id="driver-tab-trigger">Company Driver&nbsp;<i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <ul id="driver-tabs">
        <li><a href="/otr">OTR</a></li>
        <li><a href="/local">Local</a></li>
        <li><a href="#">Warehouse</a></li>
        </ul>
  </div>
  
   
</div>