<!-- PARALLAX -->
  <div class="text-center text-md-right pb-5 parallax">
    <div class="container">
      <div class="row">
        <div class="p-5 mx-auto mx-md-0 ml-md-auto col-8 col-md-7">        
        {# HEADLINE #}
          {% if entry.homeHeadline %}
          <h1 class="h1 text-white">{{entry.homeHeadline}}</h1>
          {% else %}
          <h1 class="h1 text-white">{{global.homeHeadline}}</h1>
          {% endif %}

          {# subHeadline #}
          {% if entry.subHeadline %}
          <p class="mb-3">{{entry.subHeadline}}</p>
          {% else %}
          <p class="mb-3">{{global.subHeadline}}</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>