<div class="container-fluid" id="shortform-container">
    <div class="container">
        <h5 class="shortform-cta text-center">Drive With Pride – Apply For CDL-A Team Truck Driver Jobs Today.</h5>

        <form id="shortform" method="POST" action="/">

            <div class="slide" id="slide-1">
                <!-- top row -->
                <div class="form-row">
                    <!-- first name -->
                    <div class="col">                        
                        <input type="text" class="form-control" name="first-name" placeholder="First name">
                    </div>
                    <!-- Phone -->
                    <div class="col">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone">
                    </div>
                    <!-- City -->
                    <div class="col">
                        <input type="text" class="form-control" name="city" placeholder="City">
                    </div>
                </div>
                <!-- bottom row -->
                <div class="form-row">
                    <!-- Last name -->
                    <div class="col">
                        <input type="text" class="form-control" name="last-name" placeholder="Last name">
                    </div>
                    <!-- Email -->
                    <div class="col">
                        <input type="email" class="form-control" name="email" placeholder="email">
                    </div>
                    <!-- State -->
                    <div class="col">
                        <select class="custom-select" id="states" name="state" placeholder="State">
                            <option selected>State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </div>
                <div class="row next-row">
                    <div class="col">
                <a class="btn btn-small btn-success next-btn" href="#slide-2" id="next-1">Next</a>
                </div>
                </div>
            </div>

            <div class="slide" id="slide-2">
                <div class="form-row">
                    <div class="col">
                        <label for="Age">Are you 23 years or older?*</label>
                        <div class="">
                            <input type="radio" name="23-or-older" id="" value="Yes">
                            <label for="23-or-older">Yes</label>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <input type="radio" name="23-or-older" id="" value="No">
                            <label for="23-or-older">No</label>
                        </div>
                    </div>

                    <div class="col">
                        <label for="CDL">Do you have a Class A CDL?*</label>
                        <div class="">
                            <input type="radio" name="CDL" id="" value="Yes">
                            <label for="CDL">Yes</label>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <input type="radio" name="CDL" id="" value="No">
                            <label for="CDL">No</label>
                        </div>
                    </div>

                    <div class="col">
                        <label for="CDL">Do you have at least 6 months of OTR experience?*</label>
                        <div class="">
                            <input type="radio" name="6-month-otr" id="" value="Yes">
                            <label for="6-month-otr">Yes</label>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <input type="radio" name="6-month-otr" id="" value="No">
                            <label for="6-month-otr">No</label>
                        </div>
                    </div>
                    <div class="row next-row">
                        <div class="col">
                    <a class="btn btn-small btn-success next-btn" href="#" id="next-2">Next</a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="slide" id="slide-3">
                <div class="form-row">
                    <div class="col">
                        <label for="opt-in">I hereby consent to receive email, txt, and autodialed and/or pre-recorded
                            telemarketing calls from or on behalf of Pride Transport at the email address and telephone
                            number provided above.</label>
                        <input type="radio" name="opt-in" id="" value="Yes">
                        <label for="opt-in">Yes</label>
                    </div>

                    <div class="col">
                        <input type="submit" value="submit-form" name="submit">
                    </div>
                </div>
            </div>


        </form>

        <div class="slide-selectors">
            <ul>
                <li><a href="#slide-1" id="slide-btn-1" class="active"><i class="fas fa-circle circle-1"></i></a></li> 
                <li><a href="#slide-2" id="slide-btn-2" class=""><i class="fas fa-circle circle-2"></i></a></li> 
                <li><a href="#slide-3" id="slide-btn-3" class=""><i class="fas fa-circle circle-3"></i></a></li> 
            </ul>
        </div>
    </div>
</div>