{% extends "_layout" %}
{% block main %}
<div class="container-fluid green-form p-4">
    <div class="container">
        <h1 class="text-white">Congratulations</h1>
        <br>
        <h3 class="text-white">You qualify and are one step closer <br> to a great career with Conversionia!</h3>

        <img src="/images/celebrate.PNG" alt="" height="200">
        <br>
        <br>
        <br>
        <h3 class="text-white">What you can expect</h3>
        <ol>
            <li class="text-white">we will be calling you during normal business hours</li>
            <li class="text-white">we'll do some other stuff</li>
            <li class="text-white">you can get ahead of the game by filling out our full app</li>
        </ol>

    <a href="" class="btn btn-lg btn-success"> <i class="fas fa-arrow-circle-right"></i>Full App</a>

    </div>
</div>
{% endblock %}