.footer {
    background-color: #707070;

    .nav-link{
        color: #fff !important;
    }
    .nav-link:hover{
        color: #28a745!important;
        font-weight: bold;
    }

    .footer-logo {
        height: 3rem;
    }
}
