.feature-section{
    .display-4{
        font-weight: 500 !important;
    }
    img{
        -webkit-box-shadow: 0px 26px 34px -30px #000000;
         box-shadow: 0px 26px 34px -30px #000000;
    }
}