.matrix-container {

    .matrix-textBlock {}

    .matrix-image {
        max-height: 400px;
        overflow: hidden;

        img{
            -webkit-box-shadow: 0px 26px 34px -12px #000000; box-shadow: 0px 26px 34px -12px #000000;
        }
    }

    .matrix-right {
        
        img{
        max-height: 400px;
        overflow: hidden;
        text-emphasis: center;
        }
    }

    .matrix-left {
        img{
        max-height: 400px;
        overflow: hidden;        
        }
    }
}