
#main-nav {
    background: #292f31;

    img {
        height: 2rem;     
    }

    #navbar10 {
        ul {
            li {
                font-size: 1.2rem;
                margin: 0 15px !important;

                a {
                    color: #fff;
                }
            }
        }
    }
}