.parallax {
    background-attachment: fixed;
    background-image: url("/images/truck-at-night.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 400px;
}

