.parallax {
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/93398/pexels-photo-93398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 400px;
}

