.parallax {
    background-attachment: fixed;
    background-image: url("/images/truck-at-night.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 400px;

    h1{
        text-shadow: 0px 0px 13px #000000;
    }

    p{
        font-size: 2em;
        // font-weight: 800;
        color: #fff;;
    }
}

