#main-nav {
  background: #292f31; }
  #main-nav img {
    height: 2rem; }
  #main-nav #navbar10 ul li {
    font-size: 1.2rem;
    margin: 0 15px !important; }
    #main-nav #navbar10 ul li a {
      color: #fff; }

.parallax {
  background-attachment: fixed;
  background-image: url("/images/truck-at-night.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 400px; }
  .parallax h1 {
    text-shadow: 0px 0px 13px #000000; }
  .parallax p {
    font-size: 2em;
    color: #fff; }

.cards-section {
  background-color: #fff;
  margin-top: -50px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6); }
  .cards-section .header-shadow {
    -webkit-box-shadow: inset 0px 0px 62px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px 0px 62px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 62px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px; }
  .cards-section .btn-red {
    background-color: #dc3545;
    color: #fff; }
  .cards-section .applyBannerColumn {
    color: #fff; }
    .cards-section .applyBannerColumn .applyBanner {
      background-color: #707070; }

.feature-section .display-4 {
  font-weight: 500 !important; }

.feature-section img {
  -webkit-box-shadow: 0px 26px 34px -30px #000000;
  box-shadow: 0px 26px 34px -30px #000000; }

.video-container .video-shadow {
  box-shadow: 0px 26px 34px -30px #000000;
  -webkit-box-shadow: 0px 26px 34px -30px #000000; }

.video-container .video-content .display-4 {
  font-weight: 400 !important; }

#jobs-benefits .jobs-benefits-col {
  background-color: #292F31; }
  #jobs-benefits .jobs-benefits-col .jobs-benefits-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #707070;
    color: #fff; }
  #jobs-benefits .jobs-benefits-col .jobs-benefits-content {
    color: #fff;
    font-weight: bold;
    width: 80%; }

footer {
  background-color: #192326; }

#apply-bottom {
  background-color: #28a745;
  display: none; }

@media (max-width: 576px) {
  #apply-bottom {
    display: block; } }

#cta {
  background-color: #6c757d;
  color: #fff; }
  #cta h1 {
    padding: 20px 0 40px; }
  #cta a {
    -webkit-box-shadow: 0px 23px 26px -30px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 23px 26px -30px rgba(0, 0, 0, 0.85); }

.footer {
  background-color: #707070; }
  .footer .nav-link {
    color: #fff !important; }
  .footer .nav-link:hover {
    color: #28a745 !important;
    font-weight: bold; }
  .footer .footer-logo {
    height: 3rem; }

.matrix-container .matrix-image {
  max-height: 400px;
  overflow: hidden; }
  .matrix-container .matrix-image img {
    -webkit-box-shadow: 0px 26px 34px -12px #000000;
    box-shadow: 0px 26px 34px -12px #000000; }

.matrix-container .matrix-right img {
  max-height: 400px;
  overflow: hidden;
  text-emphasis: center; }

.matrix-container .matrix-left img {
  max-height: 400px;
  overflow: hidden; }

.matrix-container .matrix-applyBlock a {
  -webkit-box-shadow: 0px 23px 26px -11px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 23px 26px -11px rgba(0, 0, 0, 0.85); }

.search-again {
  padding: 20px 0px; }
  .search-again .search-again-btn {
    display: block !important;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 200px; }
  .search-again #search-again-image {
    height: 400px;
    background-image: url("/images/truck-jobs-2.jpg");
    background-position: bottom center;
    background-size: cover; }

.card {
  -webkit-box-shadow: 0px 26px 34px -12px #000000;
  box-shadow: 0px 26px 34px -12px #000000; }
  .card .card-title {
    color: #6c757d; }

#search-header {
  height: 400px;
  background-image: url("/images/truck-jobs.jpg");
  background-position: center; }
  #search-header h3 {
    color: #fff;
    font-weight: bold;
    padding: 10px 0px;
    font-family: sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 12px #000000; }

.jobs-index {
  -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 0px 40px -2px rgba(0, 0, 0, 0.39); }
  .jobs-index h3 {
    font-weight: bold; }
  .jobs-index .job-header {
    color: #999999;
    font-family: sans-serif; }
  .jobs-index .btn-details {
    background-color: #B91822;
    color: #fff; }

.search-controller-container #or {
  height: 30%;
  display: block;
  transform: translateY(25%); }

.search-controller-container #topLeftLine,
.search-controller-container #topRightLine {
  border: solid 2px black;
  width: 2px;
  height: 30%;
  text-align: center;
  display: block;
  margin: 0 auto; }

@media (max-width: 767px) {
  .search-controller-container {
    padding: 20px;
    text-align: center; }
    .search-controller-container #or {
      display: inline; }
    .search-controller-container #topLeftLine,
    .search-controller-container #topRightLine {
      border: solid 2px black;
      width: 30%;
      height: 2px;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      transform: translateY(-200%); } }

.search-controller {
  padding: 30px 0px 10px; }
  .search-controller .form-group .bg-gray {
    background-color: #E2E2E2 !important; }
  .search-controller .search-jobs-btn {
    background-color: #5D5D5D !important;
    color: #fff;
    display: block;
    margin: 0 auto; }

#jobs-entry #jobs-entry__parrallax {
  background-attachment: fixed;
  background-image: url("/images/truck-at-night.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 450px; }
  #jobs-entry #jobs-entry__parrallax .job-title-container {
    margin-top: 75px; }

#jobs-entry #jobs-entry__details .negative-margin-row {
  margin-top: -50px;
  padding-top: 25px;
  background-color: #fff; }

#jobs-entry #jobs-entry__details .tabs-column .card ul li {
  font-weight: bold;
  font-size: .9rem; }

#jobs-entry #jobs-entry__details .applyBanner {
  background-color: #707070;
  color: #fff; }

#jobs-entry .job-video-container .left-video {
  background-color: #fff; }

#jobs-entry .job-video-container .right-video h1 {
  color: #dc3545; }

#jobs-entry .callToActionBanner {
  background-color: #ececec; }

#shortform {
  display: flex; }

.black-form {
  background: #3e4040;
  background: -moz-linear-gradient(25deg, #3e4040 0%, #192326 100%);
  background: -webkit-linear-gradient(25deg, #3e4040 0%, #192326 100%);
  background: linear-gradient(25deg, #3e4040 0%, #192326 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e4040", endColorstr="#192326", GradientType=1); }

.gray-form {
  background: #5C5C5C;
  background: -moz-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
  background: -webkit-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
  background: linear-gradient(45deg, #5C5C5C 0%, #637076 100%); }

.green-form {
  background-color: #76C168; }

.form-style label {
  color: #fff; }

.show {
  display: block !important;
  margin: 0 auto; }

.show-tabs {
  display: block !important; }

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px; }

.sticky-bottom {
  position: absolute;
  width: 100%; }

/* The following utilities are for keeping the footer 
 down if there is not enough content to push it to the bottom of the page using flexbox techniques */
.utility-site-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important; }

.utility-site-content {
  flex: 1 !important; }
