#nav-container {
  position: relative; }
  #nav-container #nav-top {
    background-color: #373737;
    min-height: 75px; }
    #nav-container #nav-top ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
      transform: translateY(70%); }
      #nav-container #nav-top ul li {
        display: inline;
        color: #fff; }
        #nav-container #nav-top ul li .fa-phone {
          color: green; }
        #nav-container #nav-top ul li a {
          color: gray;
          font-size: 1.2em; }
      #nav-container #nav-top ul #seach-trigger {
        color: #fff !important; }
    #nav-container #nav-top #general-search {
      padding: 20px !important;
      display: none;
      text-align: center; }
  #nav-container #nav-bottom {
    background-color: #5C5C5C;
    min-height: 75px;
    padding-top: 15px;
    z-index: 1000; }
    #nav-container #nav-bottom img {
      height: 30px !important; }
    #nav-container #nav-bottom a {
      color: #fff;
      border-color: gray;
      display: block;
      float: right;
      padding: 5px 9px;
      border: solid 1px gray;
      border-radius: 10px; }
    #nav-container #nav-bottom #driver-tabs {
      position: absolute;
      background-color: gray;
      list-style: none;
      right: 12%;
      bottom: -50%;
      padding: 15px;
      display: none;
      z-index: 100;
      border-radius: 10px; }
      #nav-container #nav-bottom #driver-tabs li {
        padding: 5px; }
        #nav-container #nav-bottom #driver-tabs li a {
          color: #fff;
          font-weight: bold; }

@media (max-width: 345px) {
  #nav-container {
    position: relative; }
    #nav-container #nav-top ul li a {
      font-size: 1em; } }

.jumbo {
  position: relative; }
  .jumbo .img-row {
    background-image: url("/images/header.jpg");
    background-position: center center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    position: relative; }
  .jumbo .heading-row {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
    .jumbo .heading-row #blur-bg {
      background-color: rgba(93, 93, 93, 0.8);
      width: 100%;
      padding: 10px;
      border-radius: 30px; }
      .jumbo .heading-row #blur-bg h1,
      .jumbo .heading-row #blur-bg h4 {
        color: #fff;
        font-weight: 700; }

@media (max-width: 345px) {
  .jumbo {
    background-position: center right;
    background-size: initial; }
    .jumbo .img-row {
      height: 400px; }
    .jumbo .heading-row #blur-bg {
      margin-top: -10%;
      transform: translateX(10%);
      background-color: rgba(93, 93, 93, 0.5);
      width: 90%;
      border-radius: 0px !important; }
      .jumbo .heading-row #blur-bg h1 {
        font-size: 1.3em; }
      .jumbo .heading-row #blur-bg h4 {
        font-size: 1em; } }

@media (min-width: 346px) and (max-width: 500px) {
  .jumbo {
    background-position: center right;
    background-size: initial; }
    .jumbo .heading-row {
      transform: translateX(-46%) !important; }
      .jumbo .heading-row #blur-bg {
        margin-top: 25%;
        background-color: rgba(93, 93, 93, 0.5);
        padding: 5px;
        border-radius: 0px !important; }
        .jumbo .heading-row #blur-bg h1 {
          font-size: 1.8em; }
        .jumbo .heading-row #blur-bg h4 {
          font-size: 1.1em; } }

@media (min-width: 501px) and (max-width: 1000px) {
  .jumbo {
    background-position: center right;
    background-size: initial; }
    .jumbo .heading-row {
      transform: translateX(-45%) !important;
      width: 86%; }
      .jumbo .heading-row #blur-bg {
        margin-top: 0%;
        background-color: rgba(93, 93, 93, 0.5); }
        .jumbo .heading-row #blur-bg h1 {
          font-size: 1.8em; }
        .jumbo .heading-row #blur-bg h4 {
          font-size: 1.1em; } }

#banner {
  max-height: 300px;
  padding: 20px 0px;
  background-color: black;
  overflow: hidden; }
  #banner img {
    padding-top: 10px; }

#summary-container .summary-header-row {
  background-color: #9B000D;
  padding: 20px 10px; }
  #summary-container .summary-header-row h4 {
    color: #fff;
    font-weight: bold; }

#summary-container #summary-content {
  background-image: url("/images/red-bg.png");
  background-position: center;
  padding: 15px; }
  #summary-container #summary-content p {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em; }

#video-container .video-header-row {
  background-color: #9B000D;
  padding: 20px 10px; }
  #video-container .video-header-row h4 {
    color: #fff;
    font-weight: bold; }

#video-container .video-row {
  background: #9b000d;
  background: -moz-linear-gradient(180deg, #9b000d 0%, #cd0419 50%, #9b000d 100%);
  background: -webkit-linear-gradient(180deg, #9b000d 0%, #cd0419 50%, #9b000d 100%);
  background: linear-gradient(180deg, #9b000d 0%, #cd0419 50%, #9b000d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b000d",endColorstr="#9b000d",GradientType=1);
  padding: 10px 0 50px; }

@media (max-width: 767px) {
  #video-container .video-row {
    padding: 0 !important; } }

#jobs-benefits .jobs-benefits-col {
  background-color: #292F31; }
  #jobs-benefits .jobs-benefits-col .jobs-benefits-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #707070;
    color: #fff; }
  #jobs-benefits .jobs-benefits-col .jobs-benefits-content {
    color: #fff;
    font-weight: bold;
    width: 80%; }

footer {
  background-color: #192326; }

#apply-bottom {
  background-color: #19D419;
  display: none; }

@media (max-width: 576px) {
  #apply-bottom {
    display: block; } }

.search-again {
  padding: 20px 0px; }
  .search-again .search-again-btn {
    display: block !important;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 200px; }

#search-header {
  background-color: #5c5c5c; }
  #search-header h3 {
    color: #fff;
    font-weight: bold;
    padding: 10px 0px;
    font-family: sans-serif; }

.jobs-index {
  background-color: #E2E2E2; }
  .jobs-index h3 {
    font-weight: bold; }
  .jobs-index .job-header {
    color: #999999;
    font-family: sans-serif; }
  .jobs-index .btn-details {
    background-color: #B91822;
    color: #fff; }

.search-controller-container #or {
  height: 30%;
  display: block;
  transform: translateY(25%); }

.search-controller-container #topLeftLine,
.search-controller-container #topRightLine {
  border: solid 2px black;
  width: 2px;
  height: 30%;
  text-align: center;
  display: block;
  margin: 0 auto; }

@media (max-width: 767px) {
  .search-controller-container {
    padding: 20px;
    text-align: center; }
    .search-controller-container #or {
      display: inline; }
    .search-controller-container #topLeftLine,
    .search-controller-container #topRightLine {
      border: solid 2px black;
      width: 30%;
      height: 2px;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      transform: translateY(-200%); } }

.search-controller {
  padding: 30px 0px 10px; }
  .search-controller .form-group .bg-gray {
    background-color: #E2E2E2 !important; }
  .search-controller .search-jobs-btn {
    background-color: #5D5D5D !important;
    color: #fff;
    display: block;
    margin: 0 auto; }

.black-form {
  background: #3e4040;
  background: -moz-linear-gradient(25deg, #3e4040 0%, #192326 100%);
  background: -webkit-linear-gradient(25deg, #3e4040 0%, #192326 100%);
  background: linear-gradient(25deg, #3e4040 0%, #192326 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e4040", endColorstr="#192326", GradientType=1); }

.gray-form {
  background: #5C5C5C;
  background: -moz-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
  background: -webkit-linear-gradient(45deg, #5C5C5C 0%, #637076 100%);
  background: linear-gradient(45deg, #5C5C5C 0%, #637076 100%); }

.green-form {
  background-color: #76C168; }

.form-style label {
  color: #fff; }

.show {
  display: block !important;
  margin: 0 auto; }

.show-tabs {
  display: flex !important; }

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px; }
