#map {
    // max-height: 300px;
    // overflow: hidden;
}

#search-header {
    // background-color: #5c5c5c;
    height: 400px;
    background-image: url("/images/truck-jobs.jpg");
    background-position: center;

    h3 {
        color: #fff;
        // color: #e5111b;
        font-weight: bold;
        padding: 10px 0px;
        font-family: sans-serif;
        font-size: 40px;
        text-shadow: 0px 0px 12px #000000;
    }
}

.jobs-index {
    // background-color: #E2E2E2;
    -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.39);
-moz-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.39);
box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.39);

    h3 {
        font-weight: bold;
    }
    .job-header{
        color: #999999;
        font-family: sans-serif;    
    }

    .btn-details{
        background-color: #B91822;
        color: #fff;
    }
}

.search-controller-container{
    #or{
        height: 30%;
        display: block;
        transform: translateY(25%);
    }
    #topLeftLine,
    #topRightLine{
        border: solid 2px black;
        width: 2px;
        height: 30%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    #topLeftLine{}
    #topRightLine{}
}

// The styles for the search controller are in the _search-controller.scss file under jobs folder in the SCSS Directory



// Media Query
@media (max-width: 767px) { 
    .search-controller-container{
        padding:20px;
        text-align: center;
        #or{
            display: inline;
        }
        #topLeftLine,
        #topRightLine{
            border: solid 2px black;
            width: 30%;
            height: 2px;
            text-align: center;
            display: inline-block;
            margin: 0 auto;
            transform: translateY(-200%);
        }
        #topLeftLine{}
        #topRightLine{}
    }
    
 }
