// Most of the styling for the results page is in the _jobs-index.scss file. This file only edits the search again button

.search-again{
    padding: 20px 0px;
    .search-again-btn{
        display: block !important;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 200px;
    }   
    #search-again-image{
        height: 400px;
        background-image: url("/images/truck-jobs-2.jpg");
        background-position: bottom center;
        background-size: cover;
    }
}

.card{
    -webkit-box-shadow: 0px 26px 34px -40px #000000;
    box-shadow: 0px 26px 34px -40px #000000;

    .card-title{
        color: #6c757d;
    }
}