


#form-styles .btn-primary {
    color: #fff;
    background-color: #D30000;
    border-color: #fff;
}

#form-styles .form-group .form-label {
    color: #fff;
    font-weight: 500;
}

#form-styles .form-check-label {
    margin-bottom: 0;
    color: #fff;
}