#form-styles .nav {
    display: none;
}

#form-styles .form-group h2,
#form-styles .form-group h3,
#form-styles .form-group p {
    color: #fff;
}

#form-styles .btn-primary {
    color: #fff;
    background-color: #D30000;
    border-color: #fff;
}

#form-styles .form-group .form-label {
    color: #fff;
    font-weight: 500;
}

#form-styles .form-check-label {
    margin-bottom: 0;
    color: #fff;
}