
<form action="{{ url('searchjobs/results') }}">

   {# Select City #}
    <input type="search" name="city" placeholder="city" title="city" class="form-control">

    {# Select Truck Type #}
    <select name="trucktype" class="from-control" id="">
        <option value="">Select truck type</option>
        <option value="tanker">tanker</option>
        <option value="van">van</option>
        <option value="reefer">reefer</option>    
    </select>

    {# Select Radius #}

    {# select zipcode #}
    {# <input type="text" "zipcode" placeholder="zipcode" title="zipcode" class="form-control"> #}
   {# <input type="tel" name="zipcode" pattern="[0-9]*" placeholder="Zip Code" title="zipcode" max="99999" class="form-control" /> #}

    <input type="submit" value="Search" class="btn btn-success">
    
    

</form>