  {# The styles for this controller are in the _controller.scss file under jobs folder in the SCSS Directory #}
  <div class="container-fluid search-controller">
      <div class="row">
          <div class="col-8 offset-2">

              {# <form action="{{ url('searchjobs/results') }}"> #}
                    <form action="{{ url('searchjobs/results') }}">
                  <div class="form-group">
                      {# SELECT STATE #}
                      <select name="state" class="form-control bg-gray" id="">
                          <option value="">Select a State</option>
                          <option value="alabama">alabama</option>
                          <option value="tennessee">tennessee</option>
                          <option value="illinois">illinois</option>
                      </select>
                  </div>

                  {# Select Truck Type #}
                  <div class="form-group">
                      <select name="trucktype" class="form-control bg-gray" id="">
                          <option value="">Select truck type</option>
                          <option value="tanker">tanker</option>
                          <option value="van">van</option>
                          <option value="reefer">reefer</option>
                      </select>
                  </div>


                  {# select city #}
                  <div class="form-group">
                      <input id="city" name="city" type="text"  class="form-control bg-gray" placeholder="city"/>
                  </div>


                  <button type="submit" value="Search" class="btn btn-lg search-jobs-btn"> <i class="fas fa-search"></i> Search Jobs</button>
              </form>

          </div>
      </div>
  </div>



  