{% extends "_layout" %}

{% block main %}
<h1>Search Results</h1>


{# Set variables for each possible param: #}
{% set state = craft.app.request.getParam('state') %}
{% set trucktype = craft.app.request.getParam('trucktype') %}

{# Create an object to collect criteria, starting with the `sectionHandle`, defaulting (`??`) to "any" section (`null`): #}
{# {% set criteria = {
    section: sectionHandle ?? null
} %} #}

{# By default, "Search" works across any attributes and field content, so we don't need to do anything with the incoming param. It should narrow results pretty intelligently, with zero config: #}
{# {% if state %} #}
{% set criteria ={
        
        state:state,
        truckType: trucktype

    } %}
{# {% endif %} #}

{# If we want to match things specifically in the title, you can merge in a `title` param, inserting it between two `*` characters to ensure it doesn't have to be an exact match: #}
{# {% if name %}
{% set criteria = criteria | merge({
        title: "*#{name}*"
    }) %}
{% endif %} #}

{# {% if trucktype %}
{% set criteria = criteria | merge({
        search: trucktype
    }) %}
{% endif %} #}

{# Pass the criteria object to the query builder: #}
{% set query = craft.entries(criteria) %}

{# Set up pagination, and let it grab the current page's results: #}
{% paginate query as pageInfo, results %}


{% for result in results %}
<div class="container">
    <ul>
        <li>{{ result.title }}</li>
        <li>{{ result.truckType }}</li>
        <li>{{ result.state}}</li>
    </ul>
</div>
{% endfor %}



{% endblock %}