{% include "partials/_header" %}
    {# SEO SECTION HERE #}
    {% block SEO %}  
    {% endblock %}
  </head>
  
  {# utility-site-container is a utility class located in utility SCSS folder #}
  <div class="utility-site-container">
  <body class="container-fluid p-0 utility-site-content">
{% include "partials/_nav" %}

{% block main %}
{% endblock %}

<div class="sticky-logo-apply-container">
{% include "partials/_conversion-logo" %}
{% include "partials/_apply-bottom" %}
</div>

</div>

{% include "partials/_footer" %}