{% include "partials/_header" %}
    {# SEO SECTION HERE #}
    {% block SEO %}  
    {% endblock %}
  </head>
  <body class="container-fluid p-0">
{% include "partials/_nav" %}

{% block main %}
{% endblock %}

<div class="sticky-logo-apply-container sticky-bottom">
{% include "partials/_conversion-logo" %}
{% include "partials/_apply-bottom" %}
</div>
{% include "partials/_footer" %}