  {# The styles for this controller are in the _controller.scss file under jobs folder in the SCSS Directory #}
  <div class="container-fluid search-controller">
      <div class="row">
          <div class="col-8 offset-2">

              {# <form action="{{ url('searchjobs/results') }}"> #}
              <form action="{{ url('searchRadius/results') }}">

                  {# select zipcode #}
                  <div class="form-group">
                      <input id="zip" name="zip" type="number" pattern="[0-9]*" class="form-control bg-gray"
                          placeholder="zip code" required />
                  </div>

                     {# select range #}
                  <div class="form-group">
                      <input id="range" name="range" type="number" pattern="[0-9]*" class="form-control bg-gray" placeholder="range in miles" required/>
                  </div>

                  <button type="submit" value="Search" class="btn btn-lg search-jobs-btn"> <i class="fas fa-search"></i>
                      Search Jobs</button>
              </form>

          </div>
      </div>
  </div>