.jumbo {
    position: relative;

    .img-row {
        background-image: url('/images/header.jpg');
        background-position: center center;
        background-size: cover;
        height: 600px;
        background-repeat: no-repeat;
        position: relative;
    }

    .heading-row {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        

        #blur-bg {
            background-color: rgba(93, 93, 93, .8);
            width: 100%;
            padding: 10px;
            border-radius: 30px;
            // padding: 30px 80px;

            h1,
            h4 {
                color: #fff;
                font-weight: 700;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 345px)
// SMALL CELL PHONE
@media (max-width: 345px) {
    .jumbo {
        // background-image: url('/images/header.jpg');
        background-position: center right;
        background-size: initial;

        .img-row {
            height: 400px;
        }

        .heading-row {

            // display: block;
            #blur-bg {
                margin-top: -10%;
                transform: translateX(10%);
                background-color: rgba(93, 93, 93, .5);
                width: 90%;
                // padding: 20px;
                border-radius: 0px !important;

                h1 {
                    font-size: 1.3em;
                }

                h4 {
                    font-size: 1em;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
// LARGE CELL PHONES
@media (min-width: 346px) and (max-width: 500px) {
    .jumbo {
        // background-image: url('/images/header.jpg');
        background-position: center right;
        background-size: initial;

        .img-row {}

        .heading-row {
            transform: translateX(-46%) !important;

            // display: block;
            #blur-bg {
                margin-top: 25%;
                background-color: rgba(93, 93, 93, .5);
                // width: 100%;
                padding: 5px;
                border-radius: 0px !important;

                h1 {
                    font-size: 1.8em;
                }

                h4 {
                    font-size: 1.1em;
                }
            }
        }
    }

}

@media (min-width: 501px) and (max-width: 1000px) {
    .jumbo {
        // background-image: url('/images/header.jpg');
        background-position: center right;
        background-size: initial;

        .img-row {}

        .heading-row {
            transform: translateX(-45%) !important;
            width: 86%;

            // display: block;
            #blur-bg {
                margin-top: 0%;
                background-color: rgba(93, 93, 93, .5);
                // width: 100%;
                // padding: 30px 80px;

                h1 {
                    font-size: 1.8em;
                }

                h4 {
                    font-size: 1.1em;
                }
            }
        }
    }
}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }